<div class="col-md-12" style="padding:10%, 10%;">
    <div id="owl-demo" class="owl-carousel owl-theme">
        <div class="item"><img src="images/slider001.jpg" width="100%" alt="The Last of us"></div>
        <div class="item"><img src="images/slider002.jpg" width="100%" alt="GTA V"></div>
        <div class="item"><img src="images/slider003.jpg" width="100%" alt="Mirror Edge"></div>
    </div>
</div>
<div class="col-md-12" style="padding-top:5%;">
    <div class="col-md-6">
        <div id="owl-demo2" class="owl-carousel owl-theme">
            <div class="item"><img src="images/slider004.jpg" width="100%" alt="The Last of us"></div>
            <div class="item"><img src="images/slider005.jpg" width="100%" alt="GTA V"></div>
            <div class="item"><img src="images/slider006.jpg" width="100%" alt="Mirror Edge"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="owl-demo3" class="owl-carousel owl-theme">
            <div class="item"><img src="images/slider007.jpg" width="100%" alt="The Last of us"></div>
            <div class="item"><img src="images/slider008.jpg" width="100%" alt="GTA V"></div>
            <div class="item"><img src="images/slider009.jpg" width="100%" alt="Mirror Edge"></div>
        </div>
    </div>
</div>